@import 'tailwindcss/base';

@import './colors.css';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/screens';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition-property: background-color, color;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
